body{
    background-image: radial-gradient(circle, #ceeeff, #b9e6fc, #a3defa, #8bd6f7, #6fcef4, #5fcff5, #4cd1f5, #33d2f4, #34ddf5, #3de7f5, #4cf1f4, #5ffbf1);
    
}

.card{
    margin: auto;
    height:700px ; 
    width: 600px;
    background-image: url(/image/mada_.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: auto 600px;
}



.form-control{
    padding-block: 35px;
    border-block-color:#2d303a ;
    }
 
.btn{
    padding-block: 25px;


}


.container1{
    padding-block: 70px;
    
}

.form-control{
    padding: 35px;
}

.btn{
    color: rgb(228, 228, 228);
}

.barre{
    height: 180px;
}

.btn{
    color: black;
}

.input-group{
    margin: #2d303a;
}