.barre{background-image: url(/image/Sans_titre_2.jpg);
    height: 100px;}

.card{
    background-color: yellow;
    height: 255px;
    width: 850px;
    margin: 130px;;
}

h1{padding: 80px;}

/*taille,couleurs et hover bouttons*/
.btn{
    width: 185px;
    height: 62px;
}

.btn1{
    background-color: #fa5c00;
    color: white;
}

.btn1:hover{
    background-color: #fa9716;
}

.btn2{
    background-color: #000000;
    color: white;
}

.btn2:hover{
    background-color: #575655
}


.btn3{
    background-color: #9c00bf;
    color: white;
}

.btn3:hover{
    background-color: #f200ff;
}

.btn4{
    background-color: #02c4de;
    color: white;
}

.btn4:hover{
    background-color: #00fbff;
}

.btn5{
    background: #ebd323;
    color: white;
}

.btn5:hover{
  background-color: #eaff00; 
}

.btn6{
    background-color: #d10202;
    color: white;
}

.btn6:hover{
    background-color: red;
}

.imagemada{
    margin-right: 300px;
    margin-left: 430px;
}




