body{
    background-image: radial-gradient(circle, #000000, #3b3a3a, #777373, #b9b2b3, #fff6f6);
}

.card{
    margin: auto;
    height:700px ; 
    width: 600px;
    background-image: url(/image/mada_.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: auto 600px;
}



.form-control{
    padding-block: 35px;
    border-block-color:#2d303a ;
    }
 
.btn{
    padding-block: 25px;


}


.container1{
    padding-block: 70px;
    
}

.form-control{
    padding: 35px;
}

.btn{
    color: rgb(228, 228, 228);
}

.barre{
    height: 180px;
}

.btn{
    color: black;
}

.input-group{
    margin: #2d303a;
}